@{
    ViewData["Title"] = "import data";
}
<br />


<br />
<br />
<div class="container">
 
    <form class="row g-2">
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Nombre del empleado</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="col-md-4">
            <label for="inputId" class="form-label">Numero de identificacion</label>
            <input type="text" class="form-control" id="inputId">
        </div>
        <div class="col-md-1">
            <label for="inputZip" class="form-label">Edad</label>
            <input type="text" class="form-control" id="inputAge">
        </div>
        <div class="col-md-2">
            <label for="inputCountry" class="form-label">Pais</label>
            <input type="text" class="form-control" id="inputPais" placeholder="">
        </div>
        <div class="col-6">
            <label for="inputAddress" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="">
        </div>
        <div class="col-2">
            <label for="inputAddress" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="inputPhone" placeholder="+50300000000">
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Año de ingreso</label>
            <input type="text" class="form-control" id="inputAge">
        </div>
      
        
        
        <div class="col-12">
            <button type="submit" class="btn btn-outline-success">Registrar</button>
        </div>
    </form>
    <br />
  
    <div class="col-md-4">
        <label for="formFile" class="form-label">Selecione un archivo</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <br />
    


<br />
<div class="row">
    <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Año de ingreso" aria-label="First name">
        <br />

    </div>



</div>
<br />
<div class="row">
    <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Pais de trabajo" aria-label="Last name">
        <br />

    </div>

</div>
<button type="button" class="btn btn-danger">Eliminar datos</button>
<br />
</div>

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Nombre del empleado</th>
            <th scope="col">Año</th>
            <th scope="col">Pais</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </tbody>
</table>